
$breakpoint-medium: 1440px;
.container {
  text-align: center;
  
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center  ;

  gap: 20px;

  margin-top: 30px;

  h1 { 


    @media (min-width: $breakpoint-medium) {
      width: 40%;
      align-self: center;
  }}


  p { 


    @media (min-width: $breakpoint-medium) {
      width: 30%;
      align-self: center;
  }}


  .main-img {
    width: 90%;
    

    @media (min-width: $breakpoint-medium) {
     width: 60%;
     align-self: center;
    }
  }

  button {
    width: 70%;
    padding: 15px;
color: hsl(0, 0%, 100%);
    background-color: hsl(198, 60%, 50%);
    border: none;
    border-radius: 30px;
    @media (min-width: $breakpoint-medium) {
      width: 20%;
      // align-self: center;
     }
  }
}
