$breakpoint-medium: 1440px;

.navbar {
  display: flex;
  justify-content: center;  
  gap: 90px;
  padding-top: 20px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 40px;

    gap: 690px;
  }
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    img {
      width: 80px;

      @media (min-width: $breakpoint-medium) {
        width: 220px;
      }
    }
  }
}

.nav-links {
  display: flex;

  gap: 15px;

  @media (min-width: $breakpoint-medium) {
    gap: 55px;
  }
}
