

.navbar {
 
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 20px;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    img {
      width: 80px;
    }
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
