.subs-container {
  height: 400px;

  .subs-card {
    background-color: hsl(219, 30%, 18%);

    margin: 45px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 300px;
    align-items: center;
    width: 300px;

    padding: 20px;
  }

  input {
    padding: 10px;
    border-radius: 20px;
    border: none;
  }

  button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 70%;
    background-color: hsl(176, 68%, 64%);
  }
}
