$breakpoint-medium: 1440px;

.subs-container {
  .subs-card {
    background-color: hsl(219, 30%, 18%);

    position: relative;

    top: 140px;
    left: 25px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 300px;
    align-items: center;
    width: 320px;

    padding: 20px;

    p {
      @media (min-width: $breakpoint-medium) {
        width: 50%;
        text-align: center;
      }
    }

  

    @media (min-width: $breakpoint-medium) {
      width: 80%;

      margin-left: 120px;
    }

    .subs-card-input {

      
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
    
      align-items: center;
      
      @media (min-width: $breakpoint-medium) {
       

        width: 70%;
        gap: 20px;
      }
    }
  }

  input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 90%;

    @media (min-width: $breakpoint-medium) {
      width: 70%;
    }
  }

  button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 90%;
    background-color: hsl(176, 68%, 64%);

    @media (min-width: $breakpoint-medium) {
      width: 70%;
    }
  }
}
