.subs-container {
  .subs-card {
    background-color: hsl(219, 30%, 18%);

    position: relative;

    top: 140px;
    left: 25px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 300px;
    align-items: center;
    width: 320px;

    padding: 20px;
  }

  input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 90%;
  }

  button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 90%;
    background-color: hsl(176, 68%, 64%);
  }
}
