@use "./reset";
$breakpoint-medium: 1440px;

  @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


.wrapper {
  color: reset.$primary-color;
  background-color: reset.$background-colour;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: 'Epilogue', sans-serif;
  line-height: 1.3;

  font-size: 14px;

  @media (min-width: $breakpoint-medium){ 
    // font-family: 'Epilogue', sans-serif;
    // line-height: 1.3;
  
    font-size: 17px;

   
  }

  
}
